.chat-input-div {
  padding-bottom: 5px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
}

.chat-input-icon {
  padding: 0px 5px;
  font-size: 20px;
}

.input {
  border: 0px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #e9ecef;
}
